div.bigBox {
	border: dashed 1px black;
	margin: 5px;
	float: left;
}

div.smallBox {
	border: solid 1px black;
	margin: 5px;
	float: left;
}

div.topGrade {
	background-color: green;
}

div.midGrade {
	background-color: yellow;
}

div.lowGrade {
	background-color: red;
}

@sprite div.loadingLabel {
	gwt-image: "loading";
	margin: 10px;
	width: 100%;
	height: 20px;
}