/* MASTER CSS charte V3 v1.0 - 27/10/2006 - dinb - 1ere version de la master css V3 */
/* v1.1 - 08/11/2006 - GL - Integration des classes specifiques WELCOM pour migration welcomV2/welcomV3 */
/* v1.1.1 - 08/11/2006 - GL - Modif WELCOM : gestion des inclusions tableau/formulaire et formulaire/tableau - bug IE : width:100% sur H1 et H2 pour dimentionner le contenu site APP */
/* v1.1.2 - 15/11/2006 - GL - bug IE sur type button et submit (marges): ajout de padding sur TFOOT et modification margin,padding,line-height,height sur boutons input pour compatibilite IE/FF */
/* v1.2.0 - 20/12/2006 - GL - AJOUT des styles pour @media print - AJOUT des styles specifiques pour le composant comMenuAF_v3.js */
/* v1.3 - 14/02/2007 - GL - Evolution majeure : decoupage du contenu en c1-c1-c1 ou c2-c1 ou c3 alternativement pour les sites UNI ou MAJ.
/*                        + debug : redefinition de la font pour les objets de formulaire suite probleme d'heritage de styles des objets de formulaire*/
/*                        + debug important : suite decalage du #conteneur constate sur ecran configure en 1024px, modifications de : #droite -> margin-left:0 ; #conteneur -> padding-left:0 ; lienContextuel -> padding-left:20px ; lienTransversaux -> margin:0; #navigation -> padding-left:0; */
/*                        + ajout : classes txt_error et bg_error pour la gestion de la couleur (f3ba5d) texte ou background des erreurs de saisie. */
/* v1.3.1 - 05/03/2007 - GL - debug : perte du style de la font sur les input dans un tblv ou tblh. ajout des style font-family.*/
/*							+ debug : ajout de la marge droite du fieldset.*/
/*                          + debug welcom : padding a 0 (au lieu de 6px 20px) dans onglet_contenu, suite probleme constate sur IE largeur des tables dans le contenu onglet. */
/* v1.3.2 - 23/03/2007 - GL - maj : elimination des accents dans les commentaires de la master.css suite pb export pdf wiki.*/
/* v1.3.3 - 28/03/2007 - GL - debug : clear:right sur le contenu d'une appli. pour eviter que le contenu passe sous la colonne gauche quand on resize la fenetre sous IE */
/* v1.3.4 - 16/04/2007 - GL - debug : mauvaise gestion du padding des boutons dynamiques (classe input.btn) sous IE sur les objets de type button*/
/* v1.4.0 - 16/04/2007 - GL - Ajout : création de la classe "ico" pour la création des liens avec icone, liens de telechargement pdf, xls etc...*/
/* v1.4.1 - 23/06/2007 - GL - evolution mineure : modif des styles Padding et Line-height des tag H1 et H2 pour titres sur plusieurs lignes */
/* v1.4.2 - 03/09/2007 - GL - evolution : Imbrication de tables tblv ou tblh : 1 seul niveau d'imbrication*/
/* v1.4.3 - 18/10/2007 - GL - maj : Imposer une taille et un overflow:hidden aux blockquotes des colonnes gauche et droite*/
/*--------------------------------------------------------------------------------*/
/*---------- decoupage et styles communs de la page MAJ et UNI et APP ------------*/
/*--------------------------------------------------------------------------------*/
body {padding:0px;margin:0px;display:block;text-align:center;background-color:#fff;font:0.7em Verdana, Arial, Helvetica, sans-serif;color:#252525;}
/*-- header ----------------------*/
div#header {width:100%;height:103px;}
div#header hr{height:1px;width:100%;border:0;margin:0;z-index:999;position:absolute;left:0;top:96px;}
/*-- background du header (ciel) --*/
div.ciel01{	background-image:url(../img/bg/header_01.gif);}
div.ciel02{	background-image:url(../img/bg/header_02.gif);}
div.ciel03{	background-image:url(../img/bg/header_03.gif);}
div.ciel04{	/*background-image:url(../img/bg/header_04.gif);*/}
/*-- visuel du header --*/
div#header div#visuel {margin:0px auto;width:1000px;height:103px;background: no-repeat url(../img/tetiere/tetiere_isole.jpg);font-family:Arial, Helvetica, sans-serif;font-size:2.5em;text-align:left;}
div#header div#visuel p {font:22px Arial, Helvetica, sans-serif;font-weight:bold;color:#fff;background-color:inherit;margin:55px 0 0 10px;}
/*--- header visuel multilangue ---*/
div#multilangue {float:left;margin:14px 10px;}
div#multilangue a{font:10px Verdana, Arial, Helvetica, sans-serif;text-decoration:none;border:0;background-image:url(../img/picto/cie/ar.gif);background-repeat:no-repeat; padding-left:15px;color:#FFFFFF;background-color:inherit;}
div#multilangue a:hover{color:#f3ba5d;background-color:inherit;}
/*--- navigation horizontale  ---*/
div#navigation {width:100%;height:32px;background-image:url(../img/lignage/lignage_trans.gif);background-repeat:repeat-x;background-position:left bottom;}
/*--- identite ---*/
div#identite {margin:15px auto 5px auto;width:1000px;height:55px;}
div#identite img{vertical-align:top;}
/*--- le conteneur ---*/
div#conteneur{margin:-5px auto;padding-left:0;width:1000px;text-align:left;min-height:80%;}
/*--- traceur ---*/
div#conteneur div#traceur{font-weight:bold; font-size:0.9em; line-height:1.5em ;text-align:right;color:#2e5880;background-color:inherit;padding-right:20px;}
div#conteneur div#traceur a {font-weight:normal;text-decoration:underline; border-bottom:0;color:#2e5880;background-color:inherit;}/* lien traceur*/
div#conteneur div#traceur a:hover{color:#f3ba5d;background-color:inherit;}
/*--- colonne de gauche ---*/
div#conteneur div#gauche{float:left;width:230px;padding-left:20px;margin:0;}
/*--- colonne de droite ---*/
div#conteneur div#droite{float:right;width:230px;margin-left:0px;margin-right:0px;padding:0px;overflow:hidden;}
/*--- colonne centrale (contenu) ---*/
div#conteneur div#contenu{padding-left:20px !important;/*padding-left:16px*/;margin:0;/*overflow:hidden;width:500px;*/
/* Pour masquer la suite qu'a IE 5.x et PAS IE 6  */
	voice-family: "\"}\"";
  	voice-family:inherit;
	width:480px;
}
/*--- colonne de gauche dans le contenu ---*/
div#conteneur div#contenu div#contenu_g, div#conteneur div#contenu_orientation div#contenu_g{float:left;width:230px;margin:0px;padding:0px;overflow:hidden;}
/*--- colonne de droite dans le contenu ---*/
div#conteneur div#contenu div#contenu_d, div#conteneur div#contenu_orientation div#contenu_d{float:left;width:230px;margin-left:20px;padding:0px;overflow:hidden;}
/*--- zone pour les liens contextuels et transversaux ---*/
div.liens_contextuels {clear:both; float:left;	text-align:left; padding-left:20px;}
div.liens_transversaux{float:right;text-align:right; margin:0;}
div.liens_contextuels a, .liens_transversaux a{border-bottom:0px;font-size:0.9em; font-weight:bold;}
div.liens_transversaux, div.liens_transversaux a{color:#999999;background-color:#fff;}
div.liens_contextuels, div.liens_contextuels a{color:#252525;background-color:#fff;}
/*--- footer ---*/
div#footer {clear:both;height:20px;width:100%;background-image:url(../img/lignage/footer_trans.gif);background-repeat:repeat-x;background-position:left bottom;}
/*------------------------------------------*/
/*-----------------  popup -----------------*/
/*------------------------------------------*/
#popup {text-align:left;}
#popup div#header {width:100%;height:43px;background: no-repeat top right url(../img/logo/AF.gif);}
#popup div#lignage {width:100%;height:20px;background-image:url(../img/lignage/lignage_trans.gif);background-repeat:repeat-x;background-position:left bottom;}
#popup div#contenu {margin:0 20px 0 20px;}
#popup div.lien_popup {text-align:right;}
#popup div.lien_popup a{font-size:0.9em;font-weight: bold;line-height:1.6em;text-align:left;color:#252525;background-color:#ECEAE7;width:auto;padding: 3px 40px 1px 15px;text-decoration:none;border-left:1px solid #fff;border-bottom:0;background-repeat:no-repeat; background-position:right;cursor:pointer;}
/*------------------------------------------------------------------------*/
/*-----------------  styles specifiques a site UNITAIRE  -----------------*/
/*------------------------------------------------------------------------*/
#uni div#conteneur div#droite{margin-top:18px !important; margin-top:28px}
/*--------------------------------------------------------------------------------*/
/*-----------------  styles specifiques a un site unitaire isole -----------------*/
/*--------------------------------------------------------------------------------*/
#uni.isole div#header {height:62px;}
#uni.isole div#header div#visuel {margin:0px auto;width:1000px;height:62px;}
#uni.isole div#header div#visuel p{margin:30px 0 0 10px;}
#uni.isole div#navigation {height:20px;}
/*------------------------------------------------------------------------*/
/*---------- styles specifiques a un site de type APPLICATION ------------*/
/*------------------------------------------------------------------------*/
body#app {text-align:left;background-color:#fff;color:#252525;}
#app div#header {background-color: #FFFFFF;width:100%;height:62px;color:#fff;}
#app div#header div#visuel {height:62px;margin:0;/*background: no-repeat top left url(../img/tetiere/tetiere_vide.jpg);*/}
#app div#header div#visuel p {font:20px Arial, Helvetica, sans-serif;font-weight:bold;background-color:inherit;margin:0;padding-left:20px;padding-top:22px;}
#app div#header hr{top:55px;}
#app div#conteneur{padding:0px;/*margin-left:20px;margin-right:20px*/;margin-top:1px; /*height:70%;*/ display:table;text-align:left;width:97%;}
#app div#conteneur div#gauche{width:160px;margin-right:20px;padding:0;}
#app div#conteneur div#traceur{padding-right:0;}
#app div#conteneur div#contenu{float:none !important; float:left;clear:right; padding-left:0px !important;padding:0;margin-left:0; overflow:auto;/*display:table;*/width:auto;}
/*----------------------------------------------------------------*/
/*---------- styles specifiques a un site MAJEUR      ------------*/
/*----------------------------------------------------------------*/
#maj div#chapeau {width:1000px;height:20px;margin:8px auto;text-align:right;font-size:0.9em;font-weight:bold;}
#maj div#evenement {margin:0 0 8px 20px;height:200px;width:980px;}
#maj div#conteneur{background-repeat:repeat-x;background-position:left top;}
#maj div#conteneur div#contenu img{float:left;}/* visuel identite contenu majeur*/
/*----------------------------------------------*/
/*------- styles de la typographie    ----------*/
/*----------------------------------------------*/
/* textes courants */
h1 {font-size:160%; font-weight:bold;  margin:0 0 10px 0;padding:0 0 12px 0;line-height:normal; color:#2e5880; background-color:inherit;width:100%;} /* titre, couleur bleu AF */
p.intro {font-size:100%; font-weight:bold; margin:20px 0 20px 0; padding:0; line-height: 1em;} /* introduction, couleur texte courant */
p.surtitre {font-size:90%; font-weight:bold; margin:10px 0 0 0; padding:0;text-transform:uppercase;} /* surtitre, majuscules, couleur theme*/
h2 {font-size:130%; font-weight:bold; margin:10px 0 0; padding:0 0 2px 0;line-height:normal;color:#2e5880; border-bottom:solid #ccc 1px;background-color:inherit;width:100%;font-variant: small-caps;} /* intertitre, couleur bleu AF */
h3 {font-size:110%; font-weight:bold;margin:0;padding:0;line-height: 1.1em;color:#2e5880; background-color:inherit;} 
.auteur_date {font-size:90%; font-weight:bold;text-align:right;margin: -10px 0px 0px 0px;}
/* liens */
a {font-weight:bold;text-decoration:none; color:#434343; border-bottom:1px solid #808080; background-color:inherit;}/* lien hypertexte*/
a:visited{font-weight:bold; text-decoration:none; color:#808080;background-color:inherit;}/*lien hypertexte visite*/
a.picto, a.ancre, a.picto_metiers, a.picto_parcours, a.picto_entrenous, a.picto_pratique, a.picto_environnement, a.picto_cie {border-bottom:0px ;background-repeat:no-repeat; padding-left:15px;} /*lien interne ou externe et ancre */
a.picto, a.ancre, a.picto_metiers, a.picto_parcours, a.picto_entrenous, a.picto_pratique, a.picto_environnement, a.picto_cie,a.ancre:visited,a.ico {color:#2e5880;background-color:inherit;} /* lien interne ou externe et ancre en bleu AF */
a:hover, a.picto:hover, a.ancre:hover {font-weight:bold; color:#f3ba5d;background-color:inherit;}/*rollover des liens */
a.ancre {margin-left:15px;}
a img {border:none;}/*image dans lien*/
a.nobottom, a.ico { border-bottom:0;}/*liens non soulignes*/
a.ico img {float:none; margin:0;padding-top:5px;vertical-align:text-bottom;}/*image icone dans lien*/
/* divers */
.exergue {font-style:italic;font-weight:bold;} /* texte en exergue */
ul {list-style-type:square;}
hr {height:1px;border:0;color:#ddd6ce;background-color:#ddd6ce;} /* color pour IE et bgcolor pour firefox */
/* blockquote */
blockquote {background-color:#F5F5F5;border:1px solid #BBBBBB;margin:0px;padding:10px;color:inherit;overflow:hidden;}/*encadre*/
blockquote.ps {background-color:#fff;border-width:1px; border-style:solid;color:inherit;}
#uni #gauche blockquote, #uni #droite blockquote, #maj #gauche blockquote, #maj #droite blockquote{width:208px;} /* particularité pour site UNI */
#app #gauche blockquote{width:138px;} /* particularité pour site APP */
/*H1*/
.metiers h1 {background: repeat-x left bottom url(../img/picto/metiers/filetH1.gif);}
.parcours h1 {background: repeat-x left bottom url(../img/picto/parcours/filetH1.gif);}
.entrenous h1 {background: repeat-x left bottom url(../img/picto/entrenous/filetH1.gif);}
.pratique h1 {background: repeat-x left bottom url(../img/picto/pratique/filetH1.gif);}
.environnement h1 {background: repeat-x left bottom url(../img/picto/environnement/filetH1.gif);}
.cie h1 {background: repeat-x left bottom url(../img/picto/cie/filetH1.gif);}
/*p.surtitre et .exergue et texte force a la couleur d'un theme */
.metiers p.surtitre, .metiers .exergue, .txt_metiers {color:#f3ba5d;background-color:inherit;}
.parcours p.surtitre, .parcours .exergue, .txt_parcours {color:#fbc100;background-color:inherit;}
.entrenous p.surtitre, .entrenous .exergue, .txt_entrenous {color:#a3d900;background-color:inherit;}
.pratique p.surtitre , .pratique .exergue, .txt_pratique {color:#0094d5;background-color:inherit;}
.environnement p.surtitre, .environnement .exergue, .txt_environnement {color:#822f82;background-color:inherit;}
.cie p.surtitre, .cie .exergue, .txt_cie {color:#0d3f96;background-color:inherit;}
/*liens avec picto*/
.metiers a.picto, a.picto_metiers {background-image:url(../img/picto/metiers/ar.gif);}
.parcours a.picto, a.picto_parcours {background-image:url(../img/picto/parcours/ar.gif);}
.entrenous a.picto, a.picto_entrenous {background-image:url(../img/picto/entrenous/ar.gif);}
.pratique a.picto, a.picto_pratique {background-image:url(../img/picto/pratique/ar.gif);}
.environnement a.picto, a.picto_environnement {background-image:url(../img/picto/environnement/ar.gif);}
.cie a.picto, a.picto_cie  {background-image:url(../img/picto/cie/ar.gif);}
/*ancres*/
.metiers a.ancre {background-image:url(../img/picto/metiers/ancre.gif);}
.parcours a.ancre {background-image:url(../img/picto/parcours/ancre.gif);}
.entrenous a.ancre {background-image:url(../img/picto/entrenous/ancre.gif);}
.pratique a.ancre {background-image:url(../img/picto/pratique/ancre.gif);}
.environnement a.ancre {background-image:url(../img/picto/environnement/ancre.gif);}
.cie a.ancre {background-image:url(../img/picto/cie/ancre.gif);}
/* ancres en ul/li */
ul.ancre{margin-top:0; margin-bottom:0;margin-left:-6px !important;margin-left:31px;}
.metiers ul.ancre {list-style-image:url(../img/picto/metiers/ancre.gif);}
.parcours ul.ancre {list-style-image:url(../img/picto/parcours/ancre.gif);}
.entrenous ul.ancre {list-style-image:url(../img/picto/entrenous/ancre.gif);}
.pratique ul.ancre {list-style-image:url(../img/picto/pratique/ancre.gif);}
.environnement ul.ancre {list-style-image:url(../img/picto/environnement/ancre.gif);}
.cie ul.ancre {list-style-image:url(../img/picto/cie/ancre.gif);}
ul.ancre li a {border-bottom:0px ;background-repeat:no-repeat; margin-left:-1px;}
ul.ancre li a:visited {color:#2e5880;background-color:inherit;}
/* hr ancres*/
.metiers hr.ancre_haut,.parcours hr.ancre_haut,.entrenous hr.ancre_haut,.pratique hr.ancre_haut,.environnement hr.ancre_haut,.cie hr.ancre_haut {height:3px;background-color:inherit;color:#fff;border-bottom: 1px solid #E1DDD4;}
.metiers hr.ancre_bas,.parcours hr.ancre_bas,.entrenous hr.ancre_bas,.pratique hr.ancre_bas,.environnement hr.ancre_bas,.cie hr.ancre_bas {height:3px;background-color:inherit;color:#fff;border-top: 1px solid #E1DDD4;}
.metiers hr.ancre_haut {border-top: 1px solid #ef5a00;} .metiers hr.ancre_bas {border-bottom: 1px solid #f3ba5d;}
.parcours hr.ancre_haut {border-top: 1px solid #fbc100;} .parcours hr.ancre_bas {border-bottom: 1px solid #fbc100;}
.entrenous hr.ancre_haut {border-top: 1px solid #a3d900;} .entrenous hr.ancre_bas {border-bottom: 1px solid #a3d900;}
.pratique hr.ancre_haut {border-top: 1px solid #0094d5;} .pratique hr.ancre_bas {border-bottom: 1px solid #0094d5;}
.environnement hr.ancre_haut {border-top: 1px solid #822f82;} .environnement hr.ancre_bas {border-bottom: 1px solid #822f82;}
.cie hr.ancre_haut {border-top: 1px solid #0d3f96;} .cie hr.ancre_bas {border-bottom: 1px solid #0d3f96;}
/*lien de retour haut de page*/
.metiers a.retour_top, .metiers a.retour_top:visited {clear:both; display:block;float:right; width:auto; padding-right:120px; background:no-repeat top right url(../img/picto/metiers/retour.gif); font-size:1em; text-decoration:none; border-bottom:1px; color:#252525;background-color:inherit;}
.parcours a.retour_top, .parcours a.retour_top:visited {clear:both;display:block;float:right; width:auto; padding-right:120px; background:no-repeat top right url(../img/picto/parcours/retour.gif); font-size:1em; text-decoration:none; border-bottom:1px; color:#252525;background-color:inherit;}
.entrenous a.retour_top, .entrenous a.retour_top:visited {clear:both;display:block;float:right; width:auto; padding-right:120px; background:no-repeat top right url(../img/picto/entrenous/retour.gif); font-size:1em; text-decoration:none; border-bottom:1px; color:#252525;background-color:inherit;}
.pratique a.retour_top, .pratique a.retour_top:visited {clear:both;display:block;float:right; width:auto; padding-right:120px; background:no-repeat top right url(../img/picto/pratique/retour.gif); font-size:1em; text-decoration:none; border-bottom:1px; color:#252525;background-color:inherit;}
.environnement a.retour_top, .environnement a.retour_top:visited {clear:both;display:block;float:right; width:auto; padding-right:120px; background:no-repeat top right url(../img/picto/environnement/retour.gif); font-size:1em; text-decoration:none; border-bottom:1px; color:#252525;background-color:inherit;}
.cie a.retour_top, .cie a.retour_top:visited {clear:both;display:block;float:right; width:auto; padding-right:120px; background:no-repeat top right url(../img/picto/cie/retour.gif); font-size:1em; text-decoration:none; border-bottom:1px; color:#252525;background-color:inherit;}
/* les blockquotes*/
.metiers blockquote.ps {border-color:#f3ba5d;}
.parcours blockquote.ps {border-color:#fbc100;}
.entrenous blockquote.ps {border-color:#a3d900;}
.pratique blockquote.ps {border-color:#0094d5;}
.environnement blockquote.ps {border-color:#822f82;}
.cie blockquote.ps {border-color:#0d3f96;}
/* les listes*/
.metiers ul { list-style-image:url(../img/picto/metiers/puce.gif);}
.parcours ul { list-style-image:url(../img/picto/parcours/puce.gif);}
.entrenous ul { list-style-image:url(../img/picto/entrenous/puce.gif);}
.pratique ul { list-style-image:url(../img/picto/pratique/puce.gif);}
.environnement ul { list-style-image:url(../img/picto/environnement/puce.gif);}
.cie ul { list-style-image:url(../img/picto/cie/puce.gif);}
/*----------------------------------------------*/
/*------- styles des elements usuels  ----------*/
/*----------------------------------------------*/
/* styles communs aux tableaux (tblv=tableau avec lignage vertical)*/
table {font:1em Verdana, Arial, Helvetica, sans-serif;}
table.tblv, table.tblh, table.formulaire {font-size:0.9em; border-collapse:collapse;color:#252525;background-color:inherit;text-align:left;width:100%;}
table.tblv thead tr,table.tblh thead tr,table.formulaire thead tr {background-color: #3675AE;color:#fff;}
table.tblv tfoot tr,table.tblh tfoot tr,table.formulaire tfoot tr {background-color: #AFD2F0;color:#fff;}
table.tblv tbody tr,table.tblh tbody tr,table.formulaire tbody tr {background-color: #E4F0FA;color:inherit;}
table.tblv tbody tr.clair,table.tblh tbody tr.clair,table.formulaire tbody tr.clair {background-color: #F4F8FC;color:inherit;}
table.tblv thead, table.tblv tfoot, table.tblh thead, table.tblh tfoot ,table.formulaire thead, table.formulaire tfoot  { font-weight:bold;}
table.tblv th, table.tblv td,table.tblh th, table.tblh td,table.formulaire th, table.formulaire td {border-width: 0 1px 0 0; border-style:solid; border-color:#fff;padding-left:10px;}
table.tblv tfoot th, table.tblv tfoot td, table.tblh tfoot th, table.tblh tfoot td, table.formulaire tfoot th, table.formulaire tfoot td {border-width: 1px 0; border-style:solid; border-color:#fff;padding-left:0;padding-top:4px;padding-bottom:4px;}
table.tblv th.right, table.tblv td.right, table.tblh th.right, table.tblh td.right, table.formulaire th.right, table.formulaire td.right {text-align:right;}
table.tblv th.top, table.tblv td.top, table.tblh th.top, table.tblh td.top, table.formulaire th.top, table.formulaire td.top {vertical-align:top;}
table.tblv th.color, table.tblv td.color, table.tblh th.color, table.tblh td.color, table.formulaire th.color, table.formulaire td.color {color:#3675AE;background-color:inherit;}
table.tblv input, table.tblv select, table.tblv textarea,  table.tblh input, table.tblh select, table.tblh textarea  {font-size:1em;font-family:Verdana, Arial, Helvetica, sans-serif;}
/* tableau de type tblh (tblh=tableau avec lignage horizontal) */
table.tblh th, table.tblh td {border-width: 0 0 1px 0; border-style:solid; border-color:#fff;}
/* formulaire inclus dans un tableau */
table table.formulaire  {font:1em Verdana, Arial, Helvetica, sans-serif;}
table table.formulaire thead tr {background-color: #3675AE;color:#fff;}
table table.formulaire tfoot tr {background-color: #AFD2F0;color:#fff;}
/* tableau de type formulaire */
table.formulaire input, table.formulaire select, table.formulaire textarea {font-size:1em;font-family:Verdana, Arial, Helvetica, sans-serif;}
table.formulaire th, table.formulaire td {border-width:0;}
table.formulaire fieldset { border:#3675AE solid 1px;margin-right:10px;}
table.formulaire fieldset legend {font-weight:bold;color:#3675AE;background-color:inherit;}
table.formulaire thead th, table.formulaire thead td, table.formulaire tfoot th, table.formulaire tfoot td {border-width: 1px 0; border-style:solid; border-color:#fff;}
table.formulaire th.color, table.formulaire td.color {color:#3675AE;background-color:inherit;}
/* tblh et tblv inclus dans un formulaire */
table.formulaire table{font:1em Verdana, Arial, Helvetica, sans-serif;}
table.formulaire table.tblv thead tr,table.formulaire table.tblh thead tr{background-color: #3675AE;color:#fff;}
table.formulaire table.tblv tfoot tr,table.formulaire table.tblh tfoot tr{background-color: #AFD2F0;color:#fff;}
table.formulaire table.tblv th, table.formulaire table.tblv td {border-width: 0 1px 0 0; border-style:solid; border-color:#fff;padding-left:10px;}
table.formulaire table.tblv tfoot th, table.formulaire table.tblv tfoot td, table.formulaire table.tblh tfoot th, table.tblh tfoot td{border-width: 1px 0; border-style:solid; border-color:#fff;padding-left:0px;}
table.formulaire table.tblh th,table.formulaire table.tblh td {border-width: 0 0 1px 0; border-style:solid; border-color:#fff;}
table.formulaire table.tblh, table.formulaire table.tblv {border:#FFFFFF solid 1px;}
/* Imbrication de tables tblv ou tblh : 1 seul niveau d'imbrication*/
table.tblh table, table.tblv table{font:1em Verdana, Arial, Helvetica, sans-serif;}
table.tblh table.tblh, table.tblh table.tblv, table.tblv table.tblh, table.tblv table.tblv {border:#FFFFFF solid 1px;}
table.tblh table.tblv thead tr,table.tblh table.tblh thead tr, table.tblv table.tblv thead tr,table.tblv table.tblh thead tr{background-color: #3675AE;color:#fff;}
table.tblh table.tblh th,table.tblh table.tblh td, table.tblv table.tblh th,table.tblv table.tblh td {border-width: 0 0 1px 0; border-style:solid; border-color:#fff;}
table.tblh table.tblv th,table.tblh table.tblv td, table.tblv table.tblv th,table.tblv table.tblv td{border-width: 0 1px 0 0; border-style:solid; border-color:#fff;}
table.tblh table.tblv tfoot th, table.tblh table.tblv tfoot td, table.tblh table.tblh tfoot th, table.tblh table.tblh tfoot td, table.tblv table.tblv tfoot th, table.tblv table.tblv tfoot td, table.tblv table.tblh tfoot th, table.tblv table.tblh tfoot td{border-width: 1px 0; border-style:solid; border-color:#fff;padding-left:0px;background-color: #AFD2F0;color:#fff;}
/* tableau : zone pour la pagination */
div.pagination {text-align:right;margin-top:3px;margin-bottom:5px;font:0.9em Verdana, Arial, Helvetica, sans-serif;}
div.pagination  a:visited{color:#434343;background-color:inherit;}
div.pagination a:hover {color:#f3ba5d;background-color:inherit;}
/* les images mutualisees */
.flottante {float: left;margin: 5px 20px 10px 0px;}
/* les blocs */
.bloc {text-align:left; width:230px; overflow:hidden;background: repeat-x left top url(../img/bg/bloc.gif); }
.bloc p.titre {margin:0px 0px 0px 18px;font:2.5em Arial, Helvetica, sans-serif;line-height:1.2em; color:#fff;;background:inherit;}
.bloc p {margin:10px 20px 20px 20px;}
/* les blocs de type 2. Le titre prend la couleur du theme */
.bloc2 {text-align:left; width:230px;overflow:hidden;}
.bloc2 .titre {border-bottom:solid #fff 1px;padding-left:20px; margin:0;font:1em Verdana, Arial, Helvetica, sans-serif;	font-weight:bold;text-transform:uppercase;	line-height:1.6em ;}
.metiers .bloc2 .titre  {background-color:#f3ba5d;color:#fff;}
.parcours .bloc2 .titre  {background-color:#fbc100;color:#fff;}
.entrenous .bloc2 .titre  {background-color:#a3d900;color:#fff;}
.pratique .bloc2 .titre  {background-color:#0094d5;color:#fff;}
.environnement .bloc2 .titre  {background-color:#822f82;color:#fff;}
.cie .bloc2 .titre  {background-color:#0d3f96;color:#fff;}
.bloc2 p {margin:5px 20px 20px 20px;}
.bloc2 img {float: left ;margin:10px 10px;}
/* moteur de recherche */
div.recherche, div.recherche_theme {width:190px;text-align:left;overflow:hidden;font-size:0.9em;font-weight:bold;margin: 10px 0 0 0;padding: 2px 20px 2px 20px;background-color:#a4acc8;color:inherit;}
div.recherche input, div.recherche_theme input { margin:0; padding:0; border-bottom:0px; border-right:0px;}
div.recherche label, div.recherche_theme label {margin:2px;}
div.recherche input.ok, div.recherche_theme input.ok{margin-left:9px;color:#fff;background-color:#313131;font-size:0.86em;font-weight:bold;text-transform:uppercase;border:0;width:3.5em;height:2em;cursor:pointer;}
div.recherche_avancee a {display:block;width:190px;text-decoration:none;text-align:left;font-size:0.9em;font-weight:100 !important;color:#252525;background-color:#a4acc8;background-image: url(../img/picto/neutre/arTr.gif);BACKGROUND-REPEAT: no-repeat;BACKGROUND-POSITION: right center;border-bottom:0;border-top:#fff solid 1px;margin:0;padding:2px 20px 2px 20px;}
div.recherche_avancee a:visited {color:#252525; border-bottom:none;background-color:#a4acc8;}
div.recherche_avancee a:hover {color:#fff;background-color:#a4acc8;}
/* formulaire du moteur de recherche couleur du theme */
.metiers div.recherche_theme, .parcours div.recherche_theme, .entrenous div.recherche_theme, .pratique div.recherche_theme, .environnement div.recherche_theme, .cie div.recherche_theme {background-color:#e1ddd4;color:inherit;}
.metiers div.recherche_theme input.ok {background-color:#f3ba5d;color:#fff;}
.parcours div.recherche_theme  input.ok {background-color:#fbc100;color:#fff;}
.entrenous div.recherche_theme input.ok {background-color:#a3d900;color:#fff;}
.pratique div.recherche_theme input.ok {background-color:#0094d5;color:#fff;}
.environnement div.recherche_theme input.ok {background-color:#822f82;color:#fff;}
.cie div.recherche_theme input.ok {background-color:#0d3f96;color:#fff;}
/* formulaire du moteur de recherche: particularite pour APP */
#app div.recherche, #app div.recherche_avancee a {width:140px;margin:0;padding:5px 10px }
/* bouton dynamique de type a, submit et button */
a.btn{display:block;float:left;margin:0 20px 0 0;font-size:1em;font-weight:bold;line-height:1.5em;text-align:right;color:#fff;background-color:#2e5880;width:auto;padding-left:5em;padding-right:1em;text-decoration:none;border-right:0px;border-left:0px;border-top:1px solid #fff;border-bottom:1px solid #fff;background-repeat:no-repeat;background-position:left;cursor:pointer;}
input.btn{display:block;float:left;margin:0 20px 0 0;font-size:1em;font-weight:bold;line-height:normal;text-align:right;color:#fff;background-color:#2e5880;width:auto;height:17px;padding-left:5em !important;padding-left:1em;padding-right:1em;padding-top:0;padding-bottom:2px;text-decoration:none;border-right:1px solid #2e5880;border-left:1px solid #2e5880;border-top:1px solid #fff;border-bottom:1px solid #fff;background-repeat:no-repeat;background-position:left;cursor:pointer;}
a.btn:visited  {color:#fff;background-color:#2e5880;}
a.btn:hover  {background-color:#f3ba5d; color:#fff;}
a.right {text-align:left; background-position:right; padding-right:5em; padding-left:1em;float:right;margin:0 0 0 20px;}
input.right {text-align:left; background-position:right;padding-right:5em !important;padding-right:1em; padding-left:1em !important;float:right;margin:0 0 0 20px;}
/* bouton sur fond blanc */
a.white, input.white {font-size:0.9em;background-color:#f0eeec;color:#313131;border-top:1px solid #2e5880;border-bottom:1px solid #2e5880;border-right:0;border-left:0;}
a.white:visited {color:#313131;background-color:#f0eeec;}
a.white:hover {background-color:#f3ba5d;color:#fff;}
/* MENU action */
.menu_action {position:relative;margin:10px 0;} /*firefox */
.menu_action a{ font-size:0.9em;font-weight:bold;display:block;height:17px;color: #313131;background-color:#f0eeec;background-repeat:no-repeat;background-position:right;text-decoration:none;text-align:left;border-bottom:1px solid #fff;padding:2px 0px 0px 20px;}
.menu_action a:visited{color:#252525;background-color: #f0eeec;}
.menu_action a:hover {background-color: #CDC8BF;color:#313131;}
.menu_action ul {border-top: 1px solid #fff; list-style-image:none; list-style-type:none;}
.menu_action ul{margin: 0;	padding: 0;	width: auto;}
/* les onglets */
div.onglet{width:100%;margin:0;padding:0}
div.onglet a{font-size:0.9em;font-weight:bold;line-height:1.7em;text-align:left;color:#fff;background-color:#3675ae;float:left;width:auto;padding-left:10px;padding-right:10px;text-decoration:none;border-bottom:0px;background-image:url(../img/onglets/onglet.gif);background-position:right top;background-repeat:no-repeat;cursor:pointer;}
div.onglet_contenu {clear:both;width:auto;border-top:1px solid #2e5880;color:inherit;background-color:#E4F0FA;margin:0;padding:0;text-align:left;}
div.onglet a.on, div.onglet a.on:hover, div.onglet a.on:visited{background-color:#2e5880;color:#fff;}
div.onglet a:visited {color:#fff;background-color:#3675ae;}
div.onglet a:hover  {color:#fff;background-color:#2e5880;}
/* onglet ON et rollover a la couleur du theme */
.metiers  .bgtheme a.on,  .metiers  .bgtheme a.on:visited, .metiers .bgtheme a:hover, .metiers .bgtheme a.on:hover{background-color:#f3ba5d;color:#fff;}
.parcours .bgtheme a.on, .parcours .bgtheme a.on:visited, .parcours .bgtheme a:hover, .parcours .bgtheme a.on:hover{background-color:#fbc100;color:#fff;}
.entrenous  .bgtheme a.on, .entrenous .bgtheme a.on:visited, .entrenous .bgtheme a:hover, .entrenous .bgtheme a.on:hover{background-color:#a3d900;color:#fff;}
.pratique  .bgtheme a.on, .pratique .bgtheme a.on:visited, .pratique .bgtheme a:hover, .metiers .pratique a.on:hover{background-color:#0094d5;color:#fff;}
.environnement  .bgtheme a.on, .environnement .bgtheme a.on:visited, .environnement .bgtheme a:hover, .environnement .bgtheme a.on:hover{background-color:#822f82;color:#fff;}
.cie .bgtheme a.on, .cie .bgtheme a.on:visited, .cie .bgtheme a:hover, .cie .bgtheme a.on:hover{background-color:#0d3f96;color:#fff;}
/*----------------------------------------------*/
/*------- gestion specifique des couleurs  -----*/
/*----------------------------------------------*/
/* couleur de theme defaut pour texte / couleur de theme forcee pour texte / autres couleur de texte */
.metiers .txt_theme, .txt_metiers {color:#f3ba5d;background-color:inherit;}
.parcours .txt_theme,.txt_parcours {color:#fbc100;background-color:inherit;}
.entrenous .txt_theme,.txt_entrenous {color:#a3d900;background-color:inherit;}
.pratique .txt_theme,.txt_pratique {color:#0094d5;background-color:inherit;}
.environnement .txt_theme,.txt_environnement {color:#822f8e;background-color:inherit;}
.cie .txt_theme,.txt_cie {color:#0d3f96;background-color:inherit;}
.txt_bleuaf {color:#2e5880;background-color:inherit;}/*bleu air france*/
.txt_error {color:#f3ba5d;background-color:inherit;}/*erreur de saisie*/
/* background couleurs institutionnelles */
.bg_institutionnel_1 {color:inherit;background-color:#2e5880;} .bg_institutionnel_2 {color:inherit;background-color:#d2c9b4;} .bg_institutionnel_3 {color:inherit;background-color:#ffffff;} .bg_institutionnel_4 {color:inherit;background-color:#ff0000;}
/* background couleurs vives */
.bg_v1, .tblh .bg_v1, .tblv .bg_v1, .formulaire .bg_v1{background-color:#f3ba5d;color:inherit;}
.bg_v2, .tblh .bg_v2, .tblv .bg_v2, .formulaire .bg_v2{background-color:#9f0033;color:inherit;}
.bg_v3, .tblh .bg_v3, .tblv .bg_v3, .formulaire .bg_v3{background-color:#7b61b4;color:inherit;}
.bg_v4, .tblh .bg_v4, .tblv .bg_v4, .formulaire .bg_v4{background-color:#10435b;color:inherit;}
.bg_v5, .tblh .bg_v5, .tblv .bg_v5, .formulaire .bg_v5{background-color:#106a92;color:inherit;}
.bg_v6, .tblh .bg_v6, .tblv .bg_v6, .formulaire .bg_v6{background-color:#009e89;color:inherit;}
.bg_v7, .tblh .bg_v7, .tblv .bg_v7, .formulaire .bg_v7{background-color:#466000;color:inherit;}
.bg_v8, .tblh .bg_v8, .tblv .bg_v8, .formulaire .bg_v8{background-color:#7c6355;color:inherit;}
.bg_v9, .tblh .bg_v9, .tblv .bg_v9, .formulaire .bg_v9{background-color:#dec417;color:inherit;}
/* background couleurs complementaires */
.bg_c1, .tblh .bg_c1, .tblv .bg_c1, .formulaire .bg_c1{background-color:#8ad3f5;color:inherit;}
.bg_c2, .tblh .bg_c2, .tblv .bg_c2, .formulaire .bg_c2{background-color:#94d3dc;color:inherit;}
.bg_c3, .tblh .bg_c3, .tblv .bg_c3, .formulaire .bg_c3{background-color:#a4acc8;color:inherit;}
.bg_c4, .tblh .bg_c4, .tblv .bg_c4, .formulaire .bg_c4{background-color:#7592be;color:inherit;}
.bg_c5, .tblh .bg_c5, .tblv .bg_c5, .formulaire .bg_c5{background-color:#4f6c99;color:inherit;}
.bg_c6, .tblh .bg_c6, .tblv .bg_c6, .formulaire .bg_c6{background-color:#e1ddd4;color:inherit;}
.bg_c7, .tblh .bg_c7, .tblv .bg_c7, .formulaire .bg_c7{background-color:#cdc8bf;color:inherit;}
.bg_c8, .tblh .bg_c8, .tblv .bg_c8, .formulaire .bg_c8{background-color:#f2e1c5;color:inherit;}
.bg_c9, .tblh .bg_c9, .tblv .bg_c9, .formulaire .bg_c9{background-color:#e9cd9e;color:inherit;}
.bg_c10, .tblh .bg_c10, .tblv .bg_c10, .formulaire .bg_c10{background-color:#434343;color:inherit;}
.bg_c11, .tblh .bg_c11, .tblv .bg_c11, .formulaire .bg_c11{background-color:#ea6a9a;color:inherit;}
.bg_c12, .tblh .bg_c12, .tblv .bg_c12, .formulaire .bg_c12 {background-color:#f78704;color:inherit;}
.bg_c13, .tblh .bg_c13, .tblv .bg_c13, .formulaire .bg_c13{background-color:#99cc33;color:inherit;}
.bg_c14, .tblh .bg_c14, .tblv .bg_c14, .formulaire .bg_c14{background-color:#008880;color:inherit;}
.bg_error, .tblh .bg_error, .tblv .bg_error, .formulaire .bg_error{background-color:#f3ba5d;color:#fff;}/*erreur de saisie*/
/* background couleurs de theme defaut et background couleurs de theme force*/
.metiers .bg_theme, .bg_metiers {background-color:#f3ba5d;color:inherit;}
.parcours .bg_theme, .bg_parcours {background-color:#fbc100;color:inherit;}
.entrenous .bg_theme, .bg_entrenous {background-color:#a3d900;color:inherit;}
.pratique .bg_theme, .bg_pratique {background-color:#0094d5;color:inherit;}
.environnement .bg_theme, .bg_environnement {background-color:#822f82;color:inherit;}
.cie .bg_theme, .bg_cie {background-color:#0d3f96;color:inherit;}
/* couleurs de <hr> . Utilisees pour le filet colore dans le header. color pour IE et bgcolor pour firefox */
.metiers hr.bg_theme {color:transparent;background-color:transparent;}
.parcours hr.bg_theme {color:#fbc100;background-color:#fbc100;}
.entrenous hr.bg_theme {color:#a3d900;background-color:#a3d900;}
.pratique hr.bg_theme {color:#0094d5;background-color:#0094d5;}
.environnement hr.bg_theme {color:#822f8e;background-color:#822f8e;}
.cie hr.bg_theme {color:#0d3f96;background-color:#0d3f96;}
hr.bg_v1{color:#f3ba5d;background-color:#f3ba5d;} hr.bg_v2{color:#9f0033;background-color:#9f0033;} hr.bg_v3{color:#7b61b4;background-color:#7b61b4;} hr.bg_v4{color:#10435b;background-color:#10435b;} hr.bg_v5{color:#106a92;background-color:#106a92;} hr.bg_v6{color:#009e89;background-color:#009e89;} hr.bg_v7{color:#466000;background-color:#466000;} hr.bg_v8{color:#7c6355;background-color:#7c6355;} hr.bg_v9{color:#dec417;background-color:#dec417;} hr.bg_c1{color:#8ad3f5;background-color:#8ad3f5;} hr.bg_c2{color:#94d3dc;background-color:#94d3dc;} hr.bg_c3{color:#a4acc8;background-color:#a4acc8;} hr.bg_c4{color:#7592be;background-color:#7592be;} hr.bg_c5{color:#4f6c99;background-color:#4f6c99;} hr.bg_c6{color:#e1ddd4;background-color:#e1ddd4;} hr.bg_c7{color:#cdc8bf;background-color:#cdc8bf;} hr.bg_c8{color:#f2e1c5;background-color:#f2e1c5;} hr.bg_c9{color:#e9cd9e;background-color:#e9cd9e;} hr.bg_c10{color:#434343;background-color:#434343;} hr.bg_c11{color:#ea6a9a;background-color:#ea6a9a;} 
hr.bg_c12{color:#f78704;background-color:#f78704;} hr.bg_c13{color:#99cc33;background-color:#99cc33;} hr.bg_c14{color:#008880;background-color:#008880;} 
/* styles specifiques pour WELCOM */
.td1 {text-align:right;font-weight:bold;}
/* styles specifiques pour le composant comMenuAF_v3.js */
#uni #navigation #zoneMenus{text-align:left;margin-top:0;margin-right:auto;margin-left:auto;padding-left:0;width:1000px;}
#maj #navigation #zoneMenus{text-align:left;margin-top:0;margin-right:auto;margin-left:auto;padding-left:0;width:1000px;}
#uni #gauche #MenuV{margin-top:0;margin-left:-20px;}
#maj #gauche #MenuV{margin-top:0;margin-left:-20px;}
/*  styles pour impression */
@media print {.noprint {display:none;}}
/*-- evolution v1.3 --*/
div#conteneur div.contenuModulable {width:750px !important;width:747px;padding:5px 0 0 0;margin:0px;overflow:hidden;float:right;}
div#conteneur div.contenuModulable div.c1, div#conteneur div.contenuModulable div.c2, div#conteneur div.contenuModulable div.c3 {float:left;display:inline;margin-left:20px !important; margin-left:19px;padding:0;}
div#conteneur div.contenuModulable div.c1 {width:230px;}
div#conteneur div.contenuModulable div.c2 {width:479px;}
div#conteneur div.contenuModulable div.c3 {width:729px;}
/*-- element for the homepageManagement.jsp, manaualMark.jsp--*/
table.formulaire td.check_col {width:20px; height:25px }
table.formulaire th.check_col {width:20px; height:25px; text-align:center;}
table.formulaire th.height_col{height:25px; }
/*-- element for the homepage.jsp --*/
div.homepage {border: 4px double #F3BA5D; padding:10px; -moz-border-radius:0px 20px 20px 20px}
div.homepage > table.formulaire {visibility:hidden}
div.homepage div.onglet_contenu{background-color:#FFFFFF;} 
div.ongKiviat {float:left; margin-top:5px;}
div.frame_border {border: 4px double #F3BA5D; padding:10px; -moz-border-radius:0px 20px 20px 20px}