div.big-box {
	border: dashed 1px black;
	margin: 5px;
	float: left;
}

div.small-box {
	border: solid 1px black;
	margin: 5px;
	float: left;
}

div.top-grade {
	background-color: green;
}

div.mid-grade {
	background-color: yellow;
}

div.low-grade {
	background-color: red;
}

div.loading-label {
	margin: 10px;
	background: url("/images/loading.gif") no-repeat left;
	width: 100%;
	height: 20px;
}