div.distributionMap {
	padding: 10px;
	height: auto;
	overflow: auto;
}

div.bigBox {
	border: solid 1px lightgrey;
	background-color: #f6f6ff;
	margin: 5px;
	float: left;
	border-radius: 5px 5px 5px 5px;
}

div.smallBox {
	width: 12px;
	height: 12px;
	margin: 5px;
	float: left;
}

@sprite div.topGrade {
	gwt-image: "greenBox";
}

@sprite div.midGrade {
	gwt-image: "yellowBox";
}

@sprite div.lowGrade {
	gwt-image: "redBox";
}

@sprite div.loadingLabel {
	gwt-image: "loading";
	margin: 10px;
	width: 100%;
	height: 20px;
}